@{ 
    ViewBag.Title = "Đổi Mật Khẩu";
    var id = ViewData["Id"];
    var email = ViewData["Email"];
}
<section class="site-section site-section-light site-section-top themed-background-dark">
    <div class="container">
        <h1 class="text-center animation-slideDown"><i class="fa fa-plus"></i> <strong>Đổi mật khẩu</strong></h1>
        <h2 class="h3 text-center animation-slideUp">Bảo mật thật tốt thông tin của bạn!</h2>
    </div>
</section>
<section class="site-content site-section">
    <div class="container">
        <div class="row">
            <h3 class="text-danger text-center">@ViewBag.Invalid</h3>
            <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 site-block">
                <!-- Sign Up Form -->
                <form action="/Account/ChangePassword" method="post" id="form-sign-up" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input type="hidden" value="@id" name="Id"/>
                                <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                <input type="email" id="register-email" name="Email" class="form-control input-lg" placeholder="Email" value="@email" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" id="OldPassword" name="OldPassword" class="form-control input-lg" placeholder="Mật khẩu Cũ">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" id="Password" name="Password" class="form-control input-lg" placeholder="Mật khẩu Mới">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" id="register-password-verify" name="VerifyPassword" class="form-control input-lg" placeholder="Nhập lại mật khẩu">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-6 text-right">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Đổi mật khẩu</button>
                        </div>
                    </div>
                </form>
                <!-- END Sign Up Form -->
            </div>
        </div>
    </div>
</section>
<section class="site-content site-section themed-background">
    <div class="container">
        <!-- Stats Row -->
        <!-- CountTo (initialized in js/app.js), for more examples you can check out https://github.com/mhuggins/jquery-countTo -->
        <div class="row" id="counters">
            <div class="col-sm-6 col-md-3">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="6800" data-after="+"></span>
                    <small>Quyển sách</small>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="5500" data-after="+"></span>
                    <small>Khác hàng thân thiện</small>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="12362"></span>
                    <small>Lượt mua</small>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="2150"></span>
                    <small>Ngày tuyệt vời</small>
                </div>
            </div>
        </div>
        <!-- END Stats Row -->
    </div>
</section>
